.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 1px solid black;
}

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute-center {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.available-move-circle {
    background-color: red;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}